<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <title><%= %></title>
    <link rel="stylesheet" href="./css/styles.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body style="background-color: #f2f2f2">
    <div class="container mx-auto py-8">
      <div class="grid grid-cols-6" >
        <div class="col-start-3 col-span-2 bg-white border-gray-300 border mr-4 rounded" style="padding: 20px">
          <%- include('header') %>
          <p
            class="py-2"
            style="font-size: 24px; font-weight: bold; color: #333"
          >
            Welcome to Sports Scheduler
          </p>
          <p class="py-2">
            New here?
            <a
              href="/signup"
              class="text-green-600"
              style="text-decoration: none; color: #00aa00"
              >Sign-up now</a
            >
          </p>
          <p class="py-2">
            Already have an account?
            <a
              href="/login"
              class="text-green-600"
              style="text-decoration: none; color: #00aa00"
              >Sign-in</a
            >
          </p>
          <%- include('footer') %>
        </div>
      </div>
    </div>
  </body>
</html>
